<div class="container">
    <div class="text-center">
        <h3>Access your account</h3>
    </div>
    <p>Enter your credentials to access the application</p>
        <form>
                <div class="form-group">
                  <label for="email">Email address:</label>
                  <input type="email" placeholder="Your Email" class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" placeholder="Your Password" class="form-control" id="pwd">
                </div>
                <button type="submit" class="btn btn-default">Access</button>
        </form>
</div> 
